{% extends 'oldbase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container my-5">
    <div class="card shadow-lg border-0" style="max-width: 700px; margin:auto;">
        <div class="card-header bg-primary text-light text-center">
            <h4>Edit Profile</h4>
        </div>
        <div class="card-body p-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label fw-bold">Username:</label>
                    {{ user_form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label fw-bold">Email:</label>
                    {{ user_form.email|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_email" class="form-label fw-bold">Bio:</label>
                    {{ profile_form.bio|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_file" class="form-label fw-bold">Image</label>
                    {{ profile_form.profile_pic|add_class:"form-control" }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary px-4 me-2">Save Changes</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary px-4">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}