{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="text-center my-4">Home page</h1>

<div class="container py-5">
  <div class="row g-4">
    {% for post in posts %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card blog-card h-100 shadow-sm rounded">
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
          <div class="card-body">
            <div class="text-muted small">{{ post.created_at }}</div>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <a class="btn btn-dark text-light btn-sm rounded-pill" href="#">Read More</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
