{% extends 'oldbase.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="container py-5">
  <div class="row g-4">
    <a href="{% url 'create_post' %}"><button class="bg-primary rounded-3 text-light text-decoration-none p-2 border-0">Create New Blog</button></a>
    {% for post in posts %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card blog-card h-100 shadow-sm rounded">
          <img src="{{ post.file_url }}" class="card-img-top" alt="{{ post.title }}">
          <div class="card-body">
            <div class="text-success small">{{ post.created_at }} by {{ post.author }}</div>
            <h5 class="card-title h2">{{ post.title }}</h5>
            <p class="card-text h6">{{ post.content|truncatewords:30 }}</p>
            <a class="btn btn-dark text-light btn-sm rounded-pill" href="{% url 'detail_view' post.id %}">Read More</a>
            <div class="dropdown d-inline">
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical rounded-3"></i>  
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item text-primary" href="{% url 'updatepost' post.id %}">Edit</a></li>
              <li><a class="dropdown-item text-danger" href="{% url 'deletepost' post.id %}">Delete</a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
      {% empty %}
    <p>You haven’t written any posts yet.</p>
    {% endfor %}
    
  </div>

</div>

{% endblock %}
